.backgroundContainer,
.layout-desktop .backgroundContainer,
.layout-tv .backgroundContainer,
#loginPage .backgroundContainer {
    background-color: #000 !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-attachment: fixed !important;
    background-position: center center !important;
    
    /* 2 wallpapers × 4 seconds = 8s */
    animation: slideshow 8s infinite !important;
    animation-timing-function: ease-in-out !important;
}

@keyframes slideshow {

    /* WhatsApp Image 2025-12-02 at 12.17.59_47cc168c.jpg */
    0.00%, 37.50% {
        background-image: 
            linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),
            url('https://cdn.jsdelivr.net/gh/AllStar112/Jellyfin-wallpaper/wallpapers/WhatsApp Image 2025-12-02 at 12.17.59_47cc168c.jpg') !important;
    }
    
    /* Transition: WhatsApp Image 2025-12-02 at 12.17.59_47cc168c.jpg → WhatsApp Image 2025-12-02 at 12.18.04_bd5a699e.jpg */
    37.50%, 50.00% {
        background-image: 
            linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),
            url('https://cdn.jsdelivr.net/gh/AllStar112/Jellyfin-wallpaper/wallpapers/WhatsApp Image 2025-12-02 at 12.18.04_bd5a699e.jpg'),
            linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),
            url('https://cdn.jsdelivr.net/gh/AllStar112/Jellyfin-wallpaper/wallpapers/WhatsApp Image 2025-12-02 at 12.17.59_47cc168c.jpg') !important;
    }
    
    /* WhatsApp Image 2025-12-02 at 12.18.04_bd5a699e.jpg */
    50.00%, 87.50% {
        background-image: 
            linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),
            url('https://cdn.jsdelivr.net/gh/AllStar112/Jellyfin-wallpaper/wallpapers/WhatsApp Image 2025-12-02 at 12.18.04_bd5a699e.jpg') !important;
    }
    
    /* Loop: WhatsApp Image 2025-12-02 at 12.18.04_bd5a699e.jpg → WhatsApp Image 2025-12-02 at 12.17.59_47cc168c.jpg */
    87.50%, 100% {
        background-image: 
            linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),
            url('https://cdn.jsdelivr.net/gh/AllStar112/Jellyfin-wallpaper/wallpapers/WhatsApp Image 2025-12-02 at 12.17.59_47cc168c.jpg'),
            linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),
            url('https://cdn.jsdelivr.net/gh/AllStar112/Jellyfin-wallpaper/wallpapers/WhatsApp Image 2025-12-02 at 12.18.04_bd5a699e.jpg') !important;
    }
    
}