.backgroundContainer {
    background-color: #000 !important;
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), 
                     url('https://raw.githubusercontent.com/AllStar112/Jellyfin-wallpaper/main/Zero_Two_noDark.gif') !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-attachment: fixed !important;
    background-position: center center !important;
}